<section class="artists-section scroll-target" id="artists">
  <div class="container container-artists">
    <h1 class="artists-section-title">Artists</h1>
    <p class="artists-section-subtitle">Explore Your New Favorite Artists</p>

    <!-- search filter -->
    <!-- <div class="filters-wrapper">
      <p class="filters-text">Filters</p>
      <button id="toggle-filters" class="toggle-filters">
        Search and Filters
        <svg class="icon-arrow-down" width="11" height="7">
          <use href="../images/sprite.svg#icon-arrow-down-2"></use>
        </svg>
      </button>
      <div id="filters-container" class="filters hidden">
        <div class="search-container">
          <button id="search-button" class="search-button">
            <svg class="icon-search" width="19" height="19">
              <use href="../images/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <input
            type="text"
            id="search-input"
            placeholder="Search"
            class="search-input"
          />
        </div>
        <div class="custom-dropdown" id="sorting-dropdown">
          <button class="dropdown-button">
            Sorting
            <svg class="icon-arrow-down" width="11" height="7">
              <use href="../images/sprite.svg#icon-arrow-down-2"></use>
            </svg>
          </button>
          <ul class="dropdown-menu hidden" id="sorting-menu">
            <li data-value="default">Default</li>
            <li data-value="asc">A–Z</li>
            <li data-value="desc">Z–A</li>
          </ul>
        </div>
        <div class="custom-dropdown">
          <button class="dropdown-button" id="genre-button">
            Genre
            <svg class="icon-arrow-down" width="11" height="7">
              <use href="../images/sprite.svg#icon-arrow-down-2"></use>
            </svg>
          </button>
          <ul class="dropdown-menu hidden" id="genre-menu"></ul>
        </div>
      </div>
    </div> -->
    <!-- search filter -->

    <ul class="artists-list js-artist-list"></ul>
    <div class="loader visually-hidden" id="loader">
      <span class="loader-spinner"></span>
    </div>
    <button class="load-more-btn" type="button">
      Load More
      <svg class="load-more-btn-icon" width="24" height="25">
        <use href="/images/sprite.svg#icon-down-arrow-alt"></use>
      </svg>
    </button>
  </div>
</section>
