<section class="artists-section scroll-target" id="artists">
  <div class="container container-artists">
    <h1 class="artists-section-title">Artists</h1>
    <p class="artists-section-subtitle">Explore Your New Favorite Artists</p>
    <ul class="artists-list js-artist-list"></ul>
    <div class="loader visually-hidden" id="loader">
      <span class="loader-spinner"></span>
    </div>
    <button class="load-more-btn js-modal-close" type="button">
      Load More
      <svg class="load-more-btn-icon" width="24" height="25">
        <use href="/images/sprite.svg#down-arrow-alt"></use>
      </svg>
    </button>
  </div>