<section class="reviews scroll-target" id="reviews">
  <div class="container">
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper" id="feedbacks-container"></div>

      <div class="feedback-prev js-testimonials-btn-prev">
        <svg class="left-arrow-icon" width="24" height="24">
          <use href="../images/sprite.svg#icon-left-arrow-alt"></use>
        </svg>
      </div>
      <div class="feedback-next js-testimonials-btn-next">
        <svg class="right-arrow-icon" width="24" height="24">
          <use href="/images/sprite.svg#icon-right-arrow-alt"></use>
        </svg>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
