<section class="reviews-container container">
  <div class="swiper feedback-swiper">
    <div class="swiper-wrapper" id="feedbacks-container"></div>

    <div class="swiper-button-prev">
      <svg class="left-arrow-icon" width="24" height="24">
        <use href="/src/images/sprite.svg#icon-left-arrow-alt"></use>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg class="right-arrow-icon" width="24" height="24">
        <use href="/src/images/sprite.svg#icon-right-arrow"></use>
      </svg>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
