<footer class="footer js-footer">
  <div class="container">
    <div class="footer__top">
      <a href="index.html" class="footer__logo js-logo">
        <svg class="footer__logo-icon" width="116" height="45">
          <use href="./images/sprite.svg#icon-Content-logo"></use>
        </svg>
      </a>
      <ul class="footer__nav js-footer-nav">
        <li><a href="#artists" class="footer__link">Artists</a></li>
        <li><a href="#about" class="footer__link">About us</a></li>
        <li><a href="#reviews" class="footer__link">Reviews</a></li>
      </ul>
    </div>

    <!-- Новий контейнер для нижнього рядка -->
    <div class="footer__bottom">
      <p class="footer__copy js-footer-copy">
        © 2025 ArtistsHub. All rights reserved.
      </p>
      <div class="footer__socials" js-footer-socials>
        <a
          href="https://www.instagram.com/"
          class="footer__icon"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://www.facebook.com/"
          class="footer__icon"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://www.youtube.com/"
          class="footer__icon"
          aria-label="YouTube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
