<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="#" aria-label="main-page-header">
      <svg class="logo" width="119" height="51">
        <use href="./images/sprite.svg#icon-Content-logo"></use>
      </svg>
    </a>

    <nav class="page-nav">

      <button type="button" class="burger js-burger" aria-label="Open menu">
        <svg class="burger-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-icon-burger-new"></use>
        </svg>
      </button>

      <ul class="nav-list js-nav-list">

        <li class="nav-menu-header">
          <a class="header-logo mobile-logo" href="#" aria-label="main-page-header">
            <svg class="logo" width="119" height="51">
              <use href="./images/sprite.svg#icon-Content-logo"></use>
            </svg>
          </a>
          <button type="button" class="burger-close js-close" aria-label="Close menu">
            <svg class="close-icon" width="36" height="36">
              <use href="./images/sprite.svg#icon-menu-close"></use>
            </svg>
          </button>
        </li>

        <li><a href="#artists" class="nav-button">Artist</a></li>
        <li><a href="#about" class="nav-button">About Us</a></li>
        <li><a href="#reviews" class="nav-button">Reviews</a></li>
      </ul>
    </nav>
  </div>
</header>