<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="#" aria-label="main-page-header">
      <svg class="logo" width="119" height="51">
        <use href="./images/sprite.svg#icon-Content-logo"></use>
      </svg>
    </a>

    <nav class="page-nav">
      <button
        type="button"
        class="burger-toggle js-toggle"
        aria-label="Toggle menu"
      >
        <svg class="burger-icon js-burger-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-icon-burger-new"></use>
        </svg>
        <svg class="close-icon js-close-icon hidden" width="36" height="36">
          <use href="./images/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>

      <ul class="nav-list js-nav-list">
        <li><a href="#artists" class="nav-button">Artist</a></li>
        <li><a href="#about" class="nav-button">About Us</a></li>
        <li><a href="#reviews" class="nav-button">Reviews</a></li>
      </ul>
    </nav>
  </div>
</header>
