<div class="js-modal modal hidden">
  <div class="modal-loader visually-hidden" id="modal-loader">
    <span class="spinner"></span>
  </div>
  <div class="js-modal-content modal-content">
    <button class="js-modal-close modal-close">
      <svg width="32" height="32">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>

    <div class="js-modal-body modal-body">
      <div class="artists-info"></div>
      <div class="artists-albums"></div>
    </div>
  </div>
</div>
