<div class="js-modal modal hidden">
  <div class="js-modal-content modal-content">
    <button class="js-modal-close modal-close">
      <svg width="32" height="32">
        <use></use>
      </svg>
    </button>
    <div class="js-modal-body"></div>
  </div>
</div>
<!-- Інформація про автора -->
<!-- <div>
  <h2 class="artist-title"></h2>
</div>
<div class="modal-artist-info">
  <div class="artist-img-container">
    <img src="" alt="" />
  </div>
  <ul class="artist-meta-list">
    <li>
      <b>Years active:</b>
    </li>
    <li>
      <b>Sex:</b>
    </li>
    <li>
      <b>Members:</b>
    </li>
    <li>
      <b>coutry:</b>
    </li>
  </ul>
  <div class="artist-biography">
    <h3>Biography</h3>
    <p></p>
  </div>
</div> -->
