.about {
  padding: 32px 0 64px;
  background: var(--color-scheme-1-background);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.about-icon {
  width: 64px;
  height: 64px;
  fill: #ffffff;
  margin-bottom: 20px;
}

.about-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .about-wrapper {
    gap: 24px;
  }

  .about-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }

  .about-title {
    margin-bottom: 24px;
  }

  .about-text {
    font-size: 20px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .about {
    padding: 112px 0;
  }

  .about-wrapper {
    flex-direction: row;
    gap: 32px;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
  }

  .about-title {
    font-size: 60px;
  }
}
