.artists-section-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}

.artists-section-subtitle {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  min-width: 288px;
  min-height: 159px;
  margin-bottom: 32px;
}

.artists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
  margin-bottom: 32px;
}

.artist-card {
  width: 100%;
}

.artist-card-img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 177px;
  object-fit: cover;
  margin-bottom: 24px;
}

.artist-card-genres li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
}
 
.artist-card-genres {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.artist-card-name {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 8px;
}

.artist-card-info {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
}

.artist-card-btn,
.load-more-btn {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.load-more-btn {

  padding: 10px 24px;
  width: 288px;
  height: 47px;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;
}

@media screen and (min-width: 768px) {
  .artists-section-subtitle {
    width: 704px;
    height: 106px;
  }

  .artists-list {
    gap: 32px;
  }
  
  .artists-list-item {
    max-width: 704px;
  }

  .artist-card-img {
    height: 393px;
  }

  .load-more-btn {
    width: 340px;
  }
 
}

@media screen and (min-width: 1440px) {
  .artists-section-subtitle {
    font-size: 60px;
    width: 863px;
    height: 144px;
  }

  .artists-list {
    justify-content: flex-start;
  }

  .artist-card {
    flex-basis: calc((100% - 32px) / 2);
  }

  .artist-card-img {
    height: 393px;
  }

  .load-more-btn {
    width: 170px;
  }
}