.reviews-container {
  max-width: 320px;
  padding: 64px 16px;
}

@media screen and (min-width: 768px) {
  .reviews-container {
    max-width: 768px;
    padding: 64px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-container {
    max-width: 1440px;
    padding: 112px 64px;
  }
}

.swiper-slide {
  margin: 0 auto;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: white;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.swiper-wrapper {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    max-width: 518px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-wrapper {
    max-width: 866px;
  }
}

.feedback-text {
  font-weight: 700;
  font-size: 18px;

  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}

.author-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 16px;
}

/* .rating {
  margin-bottom: 32px;
} */

.rating-star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 32px;
  font-size: 0;
}

.swiper-button-prev,
.swiper-button-next {
  /* all: unset; */
  /* background-image: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px; */
  display: none;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.left-arrow-icon,
.right-arrow-icon {
  fill: transparent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

.swiper-pagination {
  all: unset;
  background: none;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.4) !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 10;
  }

  .left-arrow-icon,
  .right-arrow-icon {
    fill: #fff;
  }
}

.stars {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  unicode-bidi: bidi-override;
  color: #ffffff;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    #764191 var(--rating-percent),
    #ffffff var(--rating-percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
