.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #060307;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 16px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo {
  fill: #764191;
  display: block;
}

.burger,
.burger-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  z-index: 1002;
}

.burger-icon,
.close-icon {
  fill: #fff;
}
.burger:hover .burger-icon,
.burger:focus .burger-icon,
.burger-close:hover .close-icon,
.burger-close:focus .close-icon {
  fill: #8952a7;
}

.nav-list {
  display: none;
}

.nav-list.is-open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  inset: 0;
  background: #060307;
  width: 100vw;
  height: 100vh;
  gap: 32px;
  padding-top: 103px;
  z-index: 1001;
}

.nav-menu-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #060307;
  z-index: 1002;
}
.body-lock {
  overflow: hidden;
}

.nav-button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nav-button:hover,
.nav-button:focus {
  background-color: #8952a7;
  color: #e0e0e0; 
}
.nav-button.active {
  background-color: #8952a7;
  color: #e0e0e0;
}
.nav-button.active:not(:hover) {
  background-color: #8952a7;
  color: #e0e0e0;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 72px;
    padding: 0 64px;
  }

  .burger,
  .burger-close,
  .nav-menu-header {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    position: static;
    background: none;
    height: auto;
    padding: 0;
  }

  .nav-button {
    font-size: 18px;
  }

  .logo {
    fill: #fff;
  }
}