.hidden {
  display: none !important;
}
/* 
.modal {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.25);
  background-color: #060307;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
  overflow: hidden; 
  z-index: 1000;
} */

/* .modal-body {
  background: #060307;
  border-radius: 16px;
  width: 100%;
  max-width: 1312px;
  max-height: calc(
    100vh - 128px
  ); 
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  overflow-y: auto; 
  box-sizing: border-box;
} */
body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px; /* тут і є твої бокові відступи */
  z-index: 1000;
}

.modal-content {
  background-color: #060307;
  border-radius: 16px;
  width: 100%;
  max-width: 100%; /* або 100% на мобілці */
  max-height: 90vh;
  overflow-y: auto;
  padding: 52px 8px 52px 8px;
  box-sizing: border-box;

  position: relative;
}

.modal-body {
  gap: 24px;
  /* max-height: none; */
  overflow: visible;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.modal-close svg {
  fill: #ffffff;
}

.modal-artist-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.artist-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  margin-bottom: 16px;
}

.close-button {
  text-align: right;
}

.artist-img-container {
  margin-bottom: 32px;
}
.artist-img-container img {
  width: 272px;
  height: 167px;
  object-fit: cover;
  border-radius: 16px;
}

/* .artist-meta-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
} */

/* Інформація*/
.artist-img-container-first,
.artist-img-container-second {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 272px;
  height: 124px;
  margin-bottom: 16px;
}
.artist-meta-list li {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.artist-meta-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
/* Біографія */
.artist-biography {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 272px;
  overflow-y: auto;
  padding: 0;
  margin-bottom: 16px;
}

.artist-biography-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.artist-biography-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
/* Жанри */
.artist-genres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.genre-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  height: 32px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.albums-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.album {
  background-color: #1e1c1f;
  border-radius: 16px;
  margin-bottom: 32px;
  padding: 14px 11px;
  width: 272px;
  min-width: 250px;
}
/* 
.album-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
} */

.track-header {
  display: flex;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 4px 12px 4px 16px;

  font-weight: 600;
  font-size: 8px;
  line-height: 1.5;
}

.track-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 12px 12px;

  transition: background-color 0.2s ease;

  font-weight: 400;
  font-size: 12px;

  line-height: 1.5;
}

.track-item:nth-child(even) {
  background-color: transparent;
}

.track-item:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.track-name {
  flex: 2;
}

/* Тривалість */
.track-duration {
  flex: 1;
  /* text-align: center; */
}

/* Кнопка/посилання */
.track-link {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.track-link svg {
  fill: #fff;
  transition: transform 0.2s ease;
}

.track-link:hover svg {
  transform: scale(1.1);
}

/* Порожня кнопка/іконка */
.track-link.empty {
  color: #666;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .modal {
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 33px;
  }
  .modal-content {
    padding: 64px 24px;
    max-width: 100%;
    max-height: 100vh;
  }

  /* Заголовок */
  .artist-title {
    font-size: 32px;
    margin-bottom: 48px;
  }
}
